/* Footer.css */
.footer {
  /* background-color: rgb(98, 97, 97); */
  background-color: rgb(236,236);
  color: #000000;
  /* padding: 20px 0; */
  text-align: center;
  opacity: 0.9;
  padding-top: 20px;
  
  
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h5 {
  color: #ff9900;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-bottom {
  
  padding: 10px 0;
  margin-top: 10px;
  background-color: rgb(236,236);
}

.social-links {
  margin-bottom: 10px;
}

.social-links a {
  margin: 0 10px;
  color: #ff9900;
  font-size: 19px;
  text-decoration: none;
}

.contact-info p {
  margin: 5px 0;
  padding-left: 20px;
}

.footer-bottom p {
  margin: 5px 0;
  padding-left: 20px;
  font-size: 19px;
}
